USE [master]
GO
/****** Object:  Database [Abonenttk]    Script Date: 23.12.2021 11:08:28 ******/
CREATE DATABASE [Abonenttk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Abonenttk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\Abonenttk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Abonenttk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\Abonenttk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Abonenttk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Abonenttk]
GO
/****** Object:  Table [dbo].[Информация о телефонах абонентов]    Script Date: 23.12.2021 11:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Информация о телефонах абонентов](
	[Номер договора] [varchar](max) NULL,
	[Дата установки] [date] NULL,
	[номер телефона] [nvarchar](max) NOT NULL,
	[ааа] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Информация об абонентах]    Script Date: 23.12.2021 11:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Информация об абонентах](
	[id] [nchar](10) NOT NULL,
	[фамилия] [varchar](100) NULL,
	[имя] [varchar](50) NULL,
	[Отчество] [varchar](100) NULL,
	[Адрес] [varchar](50) NULL,
 CONSTRAINT [PK_Информация об абонентах] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[оплата тарифа]    Script Date: 23.12.2021 11:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[оплата тарифа](
	[id] [nchar](10) NOT NULL,
	[тарифы(стоймость за 1 мин.)] [varchar](max) NULL,
 CONSTRAINT [PK_оплата тарифа] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Разговоры]    Script Date: 23.12.2021 11:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Разговоры](
	[дата разговора] [date] NOT NULL,
	[Продолжительность разговора (В мин.)] [varchar](50) NULL,
	[код города] [varchar](max) NOT NULL,
	[название города] [varchar](max) NULL,
	[№ разговора] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Разговоры_1] PRIMARY KEY CLUSTERED 
(
	[№ разговора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[тарифы]    Script Date: 23.12.2021 11:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[тарифы](
	[тарифы] [varchar](max) NULL,
	[aaa] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Информация об абонентах]  WITH CHECK ADD  CONSTRAINT [FK_Информация об абонентах_Разговоры] FOREIGN KEY([id])
REFERENCES [dbo].[Разговоры] ([№ разговора])
GO
ALTER TABLE [dbo].[Информация об абонентах] CHECK CONSTRAINT [FK_Информация об абонентах_Разговоры]
GO
ALTER TABLE [dbo].[оплата тарифа]  WITH CHECK ADD  CONSTRAINT [FK_оплата тарифа_Разговоры] FOREIGN KEY([id])
REFERENCES [dbo].[Разговоры] ([№ разговора])
GO
ALTER TABLE [dbo].[оплата тарифа] CHECK CONSTRAINT [FK_оплата тарифа_Разговоры]
GO
USE [master]
GO
